#mycanvas
{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  overflow: auto;
  background: white;
}

.canvas,
.grid
{
  position: absolute;
  width: 5000px;
  height: 5000px;

  overflow: hidden;
}

.grid
{
  background: #eee;
  -webkit-mask-image: url(../images/grid-dark.png);
  -webkit-mask-repeat: repeat;
  -webkit-mask-position: 20px 20px;

  -webkit-transition: background 0.2s;
  background: rgba(0,0,0, 0.0);
}

.grid.grid
{
  background: rgba(0,0,0, 0.1);
}

