html, body
{
  height: 100%;
}

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  overflow: hidden;
  -webkit-transition: color 0.2s;
}

#canvas,
#grid
{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background: #eee;
  overflow: hidden;
}

#grid
{
  -webkit-mask-image: url(../images/grid-dark.png);
  -webkit-mask-repeat: repeat;

  -webkit-transition: background 0.4s;
  background: rgba(0,0,0, 0.0);
}

#grid.grid
{
  background: rgba(0,0,0, 0.1);
}

