::-webkit-scrollbar
{
  xbackground: #bbb;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-corner
{
  xbackground: #bbb;
}

::-webkit-scrollbar-track
{
}

::-webkit-scrollbar-track:window-inactive
{
}

::-webkit-scrollbar-thumb
{
  background: #555;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover
{
  background: black;
}

::-webkit-scrollbar-thumb:window-inactive
{
  background: rgba(0, 0, 0, 0.2);
}
