#canvas .rect
{
  -webkit-box-sizing: border-box;
  background: #dde;
}

#canvas .ellipse
{
  background: #edd;
}

#canvas .line
{
  background: #444;
}

#canvas .text
{
  font-size: 40px;
  font-family: "Alte Haas Grotesk";
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), color-stop(0.5, #000), to(#000));
  padding: 0 20px;
  color: white;
}

#canvas .rect.selected,
#canvas .ellipse.selected,
#canvas .triangle.selected
{
  outline: dashed 2px #88f;
  outline-offset: -1px;
}

#canvas .handle0
{
  background: rgba(0,0,0, 0.8);
}

#canvas .handleH,
#canvas .handleV
{
  background: rgba(0,0,0, 0.4);
}

#canvas .handle1
{
  background: white;
}

#canvas .inner-triangle
{
  background: #888;
  opacity: 0.4;
}

