#canvas .rect
{
  -webkit-box-sizing: border-box;
  background: #dde;
  border: solid 5px #ccd;
}

#canvas .ellipse
{
  background: #edd;
}

#canvas .line
{
  background: #444;
}

#canvas .text
{
  font-size: 40px;
  font-family: "Alte Haas Grotesk";
  background: #555;
  padding: 0 20px;
  color: white;
}

#canvas .rect.selected,
#canvas .ellipse.selected,
#canvas .triangle.selected
{
  outline: dashed 2px #88f;
  outline-offset: -1px;
}

#canvas .inner-triangle
{
  background: #888;
  opacity: 0.4;
}

#canvas .handle0
{
  background: white;
  border: solid 2px black;
  -webkit-box-sizing: border-box;
}

#canvas .handleH,
#canvas .handleV
{
  background: rgba(0,0,0, 0.4);
}

#canvas .handle1
{
  background: white;
}

