#toolbar
{
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;

  background: rgba(220,220,220, 0.6);

  font-size: 15px;
  font-family: "alte haas grotesk";
}

#toolbar span
{ 
  color: #777;
  display: block;
  padding: 0 0 0 0;
}

#toolbar span:hover
{
  color: black;
  cursor: pointer;
}
