#toolbar
{
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;

  background: rgba(0,0,0, 0.8);

  font-size: 16px;
  font-family: "alte haas grotesk";
}

#toolbar span
{ 
  color: #ccc;
  display: block;
  padding: 0 0 0 0;
}

#toolbar span:hover
{
  color: #fff;
  cursor: pointer;
}
