html, body
{
  background: #ddd;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#toolbar
{
  position: absolute;
  left: 4px;
  top: 4px;
  right: 4px;
  height: 18px;

  font-family: "myriad pro";
}

#toolbar span
{ 
  color: #555;
  padding: 0 0 0 0;
  margin-left: 20px;
}

#toolbar span:hover
{
  color: white;
  cursor: pointer;
  background: black;
}

#canvas
{
  position: absolute;
  left: 4px;
  top: 26px;
  right: 4px;
  bottom: 4px;

  -webkit-border-radius: 8px;
  x-webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  background: #aaa url("grid.png");
  overflow: hidden;
}



#canvas .handle0
{
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  background: rgba(0,0,0, 0.8);
}

#canvas .handle1
{
  background: white;
}


#canvas .myrect
{
  background: #eee;
}

#canvas .myline
{
  background: #555;
}

#canvas .myellipse
{
  background: #ddd;
}

